# E- Commerce Sales analysis Database creation 

## Project Overview 

creating and managing an e-commerce sales analysis database. The project involves designing tables to store customer, product, and order information, performing various SQL operations to analyze the data, and generating reports to help understand the business's sales trends.

### Objectives and Skills Demonstrated
* Create tables with appropriate data types, constraints, and relationships.
* Perform CRUD operations (Create, Read, Update, Delete).
* Use SQL joins to combine data from multiple tables.
* Use aggregate functions (SUM, COUNT, AVG) to analyze data.
* Apply filtering, sorting, and grouping to generate meaningful insights.
* Implement foreign keys and understand data relationships.

###  Creating Ecommerce Database tables

In [1]:
# Import pandas ands sqlite3
import sqlite3
import pandas as pd
conn = sqlite3.connect('Ecommerce.sqlite')

In [2]:
# Connecting to a cursor 
cur = conn.cursor()

In [5]:
# Creating Table  Customers
cur.execute ("""
CREATE TABLE IF NOT EXISTS Customers(
CustomerID Primary Key,
FirstName TEXT,
LastName TEXT,
Email TEXT UNIQUE,
PhoneNumber TEXT,
RegistrationDate DATE
)
""")

In [7]:
#  view created Customers table
q = """
SELECT *
FROM Customers;
"""
pd.read_sql(q, conn)

Empty DataFrame
Columns: [CustomerID, FirstName, LastName, Email, PhoneNumber, RegistrationDate]
Index: []